.comment__list-item {
  width: 400px;
  margin-top: 10px;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
}

.comment__list-item--name {
  padding-top: 5px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f0f0f0;
}

.comment__list-item--text {
  padding-top: 20px;
  padding-bottom: 10px;
  word-break: break-all;
}

.comment__list-item-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.comment__list-item--time {
  padding-top: 10px;
  border-top: 1px solid #f0f0f0;
}

.comment__list-item--delete-btn {
  padding: 5px;
  border-radius: 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  box-shadow: 2px 2px 4px 0px rgba(34, 60, 80, 0.2);
}

.comment__list-item--delete-btn:active {
  box-shadow: none;
}
